- hbreadcrumb '首页', '/'
- hbreadcrumb "统计分析: 评论转发趋势", '#'

.page-weibo-retweeted
  - unless @retweeted_statuses.nil?
    = "转发微博条数为 #{@retweeted_statuses.length}"


.page-weibo-interactive-users
  - if @grouped_comments.blank?
    数据库中没有该用户发出的评论
  - else
    - @grouped_comments.each do |week_data|
      .week-data{:style => 'background-color:rgba(0,0,0,0.3); padding:10px; margin-bottom: 10px;'}
        .head
          .year #{week_data.year} 年
          .week 第 #{week_data.week} 周
          .count 共发出 #{week_data.list.length} 条评论
        .stat
          .t 其中针对每个人的条目数：
          - week_data.get_interactive_stat.each do |to_weibo_user, count|
            .count
              %span.to_weibo_user= to_weibo_user.screen_name
              %span.count= count