- hbreadcrumb '首页', '/'
- hbreadcrumb "统计分析: 关注度", '#'


.page-weibo
  = form_tag '/weibo_stats/stats12_submit', :method => 'post' do
    .field.need
      %label= "用户A"
      = text_field_tag 'weibo_user_a'

    .field.need
      %label= "用户B"
      = text_field_tag 'weibo_user_b'

    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 关注度


.page-relation
  =@weibo_user_a

  - if @connection_friends.nil?
    = '联系人超过三层'
  - else
    - @connection_friends.each do |friend|
      = friend

  =@weibo_user_b