- hbreadcrumb '首页', '/'
- hbreadcrumb "微博用户：#{@weibo_user.screen_name}", '#'


#left-weibo-box
  =render 'weibo/parts/current_user_weibo_profile'

#right-weibo-box
  =render 'weibo/parts/navigation', :weibo_user_id => @weibo_user.weibo_user_id
  =render 'weibo_users/parts/search_users'

  .field
    .avatar= link_to(image_tag(@weibo_user['profile_image_url']), "/weibo_users/#{@weibo_user['weibo_user_id']}")
    .name= link_to @weibo_user['screen_name'], "/weibo_users/#{@weibo_user['weibo_user_id']}"

    .relation= link_to "查看和我的关系", "/weibo_users/#{@weibo_user['weibo_user_id']}/relation"
    .feature= link_to "查看好友特征", "/weibo_users/#{@weibo_user['weibo_user_id']}/feature"
  
  

  .page-friends-keywords
    .title= "关注用户关键字"
    - if !@friends_description_data.nil?
      .items
        - @friends_description_data['words'].each do |word|
          :ruby
            n = word[1].to_f / @friends_words_total
            percent = number_to_percentage(n * 1000, :precision => 1)

          .item
            .t= "#{word[0]}"
            .line{:style=>"width:#{percent};"}
              .r= "#{word[1]}"



  .page-followers-keywords
    
    - if !@followers.nil?
      .title= "粉丝关键字"
      %ul
      - @followers.each do |follower|
        %li= follower.screen_name