- hbreadcrumb '首页', '/'
- hbreadcrumb '本地微博用户', '/weibo_users'

.page-weibo-users
  - @weibo_users.each do |weibo_user|
    .weibo-user
      .avatar= weibo_user_avatar(weibo_user)
      .name= weibo_user_link(weibo_user)
      .status-count= "#{weibo_user.weibo_statuses.count} 微博"

.page-paginate= will_paginate @weibo_users
