- hbreadcrumb '首页', '/'
- hbreadcrumb "微博用户：#{@weibo_user.screen_name}", '#'

.field.submit
  %a.form-submit-button{:href=>"/weibo_users/#{@weibo_user.weibo_user_id}/refresh"} 刷新
  

.page-weibo-user-show{:'data-weibo-user-id'=>@weibo_user.weibo_user_id}
  .to-comment

  - if !@weibo_statuses.blank?
    .weibo-statuses
      - @weibo_statuses.each do |weibo|
        .weibo-status
          .text= weibo.text
          .see-comment= link_to '查看评论', "/weibo_comments/#{weibo.weibo_status_id}"

.page-paginate= will_paginate @weibo_statuses
