.page-weibo-stats-query
  = form_tag '/weibo/stats', :method => 'get' do
    .field
      %span= "用户名"
      = text_field_tag 'screen_name', @screen_name
      %span= "微博条数"
    .field
      = text_field_tag 'count', @count
    .field
      = submit_tag "查询"

.page-weibo-stats-result
  = # debug @weibo_statuses
  - unless @weibo_statuses.nil?

    :ruby
      total_count = @weibo_statuses.length

      origin_count = get_origin_count(@weibo_statuses)
      origin_count_with_pic = get_origin_count_with_pic(@weibo_statuses)

      forward_count = total_count - origin_count
      forward_count_with_pic = get_forward_count_with_pic(@weibo_statuses)

      forward_users = get_forward_users(@weibo_statuses)

    %ul
      %li= " 总共统计 #{total_count} 条微博 " 
      %li= " 原创微博 #{origin_count} 条 "
      %li= " 原创微博中带有图片的微博 #{origin_count_with_pic} 条 "
      %li= " 转发微博 #{forward_count} 条 "
      %li= " 转发微博中带有图片的微博 #{forward_count_with_pic} 条 "

      %li
        - if forward_users.length > 0 
          转发过以下这些人的微博
          %ul
            - forward_users.each do |user, count|
              %li= "#{user}: #{count}"

