- hbreadcrumb '首页', '/'
- hbreadcrumb '微博统计', '#'

.page-weibo-stats-query
  = form_tag '/weibo/stats', :method => 'get' do
    .field
      %label= "微博用户名"
      = text_field_tag 'screen_name', @screen_name
    .field
      %label= "要采集的微博条数"
      = text_field_tag 'count', @count
    .field.submit
      %a.form-submit-button{:href=>'javascript:;'} 采集

- unless @weibo_user.nil?
  .page-weibo-stats-result
    :ruby
      weibo_statuses = @weibo_user.weibo_statuses

      total_count = weibo_statuses.length
      origin_count = get_origin_count(weibo_statuses)
      origin_count_with_pic = get_origin_count_with_pic(weibo_statuses)
      forward_count = total_count - origin_count
      forward_count_with_pic = get_forward_count_with_pic(weibo_statuses)

      forward_users = get_forward_users(weibo_statuses)
    
    .weibo-user
      .avatar
        %img{:src=>@weibo_user.profile_image_url}
      .name
        = @weibo_user.screen_name
      .word-stat
        %a{:href=>"/weibo_users/#{@weibo_user.weibo_user_id}/word_stats"} 查看分词统计

    .stats
      .count 
        总共统计 #{total_count} 条微博
      .written 
        原创微博 #{origin_count} 条
      .written-with-img
        原创微博中带有图片的微博 #{origin_count_with_pic} 条
      .repost
        转发微博 #{forward_count} 条
      .repost-with-img
        转发微博中带有图片的微博 #{forward_count_with_pic} 条

      .repost-users
        - if forward_users.length > 0 
          .desc 转发过以下这些人的微博
          - forward_users.each do |user, count|
            .user
              .avatar
                %img{:src=>user.profile_image_url}
              .count= "#{user.screen_name}: #{count}"

