- hbreadcrumb '首页', '/'
- hbreadcrumb "微博用户：#{@weibo_user.screen_name}", "/weibo_users/#{@weibo_user.weibo_user_id}"
- hbreadcrumb "##{@weibo_status.weibo_status_id} 评论数据", '#'

.page-weibo-comments
  .refresh
    = link_to '刷新评论数据', "/weibo_comments/#{@weibo_status.weibo_status_id}/refresh", :method=>'put'

  - if !@weibo_comments.blank?
    .comments
      - @weibo_comments.each do |comment|
        .comment
          .text= comment.text
  - else
    本地没有任何评论数据
