- hbreadcrumb '首页', '/'
- hbreadcrumb "统计分析: 评论转发趋势", '#'

.page-weibo-retweeted
  = "转发微博条数为 #{@retweeted_statuses.length}"


.page-weibo-interactive-users
  :ruby
    weibo_users = interactive_by_comments_and_retweeted(@week_comments, @week_retweeted_statuses)
  
  %ul
  - unless weibo_users.nil?
    - weibo_users.each do |week|
      %li
        %label= week_dates(week[0])
        %ul
        - week[1].each do |user|
          :ruby
            weibo_user = WeiboUser.find_by_weibo_user_id(user[0])
          %li= "#{weibo_user.screen_name}, #{user[1]}"

