- hbreadcrumb '首页', '/'
- hbreadcrumb "统计分析: 评论转发趋势", '#'

.page-weibo-comments

  - if !@week_comments.blank?
    
    - @week_comments.each do |week|
      :ruby
        start_date = week[0].created_at.strftime('%Y-%m-%d')
        end_date = week[week.length - 1].created_at.strftime('%Y-%m-%d')
        start_week_day = week[0].created_at.wday
        end_week_day = week[week.length - 1].created_at.wday

        weibo_users = interactive_users_count(week)

      .comments

        .week-title
          .text= "#{start_date}  星期#{start_week_day}"
          .text= "#{end_date} 星期#{end_week_day}"

          - weibo_users.each do |user|
            .screen-name= WeiboUser.find_by_weibo_user_id(user[0]).screen_name
            .count= user[1]

        - week.each do |comment|

          .comment
            .text= comment.text


  - else
    本地没有任何评论数据
