-# MINDPIN 工程原型Layout

:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? "MINDPIN - Work - 原型" : "#{tstr} - MINDPIN - Work - 原型"

!!! 5
%html{:lang=>"zh"}
  %head
    %meta{:charset=>"utf-8"}
    %title=title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = yield :css
    = yield :head

  %body.echo.gray
    .page-sider
      .head
        .title
          %a{:href=>'/'} 新浪微博采集分析器
          .version dev.0731
      - if logged_in? && current_user.has_weibo_auth?
        .nav
          %a.item{:href=>'/'} 首页
          %a.item{:href=>'/weibo_users'} 本地微博用户
          %a.item{:href=>'/weibo_comments/by_me'} 我发出的评论
          %a.item{:href=>'/weibo_comments/to_me'} 我收到的评论
          %a.item{:href=>'/weibo_stats/stats1'} 统计分析: 词汇使用趋势
          %a.item{:href=>'/weibo_stats/stats3'} 统计分析: 评论转发趋势
          %a.item{:href=>'/weibo_stats/stats11'} 统计分析：被评论趋势
          %a.item{:href=>'/weibo_stats/stats12'} 统计分析：关注度
          %a.item{:href=>'/weibo_stats/stats13'} 统计分析：粉丝

    .page-topbar
      .page-breadcrumb
        = yield :breadcrumb

      = yield :topbar
      
      .ops
        -if logged_in?
          .logout= link_to '退出登录', '/logout'

    .page-content
      = yield

    = javascript_include_tag 'application'
    = yield :javascript